- content_for(:html_title) { t(".title") }

= form_with(model: @user, url: new_confirm_users_path, :builder => CustomFormBuilder, method: :POST, local: true) do |f| 
  = render :partial => 'users/form', :locals => {:f => f}