- content_for(:html_title) { 'ユーザー詳細' }

p Id
p =@user.id
p Name
p =@user.name
p Address
p =@user.address
p Email
p =@user.email
p Created_at
p =l(@user.created_at)
p Updated_at
p =l(@user.updated_at)
